<%- include('../shared/header'); %>

<header class="site-header d-flex flex-column justify-content-center align-items-center">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-5 col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/posts">Homepage</a></li>

            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
          </ol>
        </nav>

        <h2 class="text-white">Contact Us</h2>
      </div>

    </div>
  </div>
</header>

<section class="contact-section section-padding section-bg" id="section_5">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 col-12 text-center">
        <h2 class="mb-5">Get in touch</h2>
      </div>

      <div class="col-lg-5 col-12 mb-4 mb-lg-0">
        <iframe class="google-map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9104.379407133645!2d-79.34405354942787!3d43.77227747661401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d3bca1a3f78f%3A0x815365ed6c3b957e!2sLambton%20College%20In%20Toronto!5e1!3m2!1sen!2sca!4v1721337463322!5m2!1sen!2sca"
          width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
        <h4 class="mb-3">Head office</h4>

        <p>Lambton College in Toronto - 265 Yorkland Blvd, North York, ON M2J 1S5</p>

        <hr>

        <p class="d-flex align-items-center mb-1">
          <span class="me-2">Phone</span>

          <a href="tel:435.333.1234" class="site-footer-link">
            435.333.1234
          </a>
        </p>

        <p class="d-flex align-items-center">
          <span class="me-2">Email</span>

          <a href="mailto:info@techforum.com" class="site-footer-link">
            info@techforum.com
          </a>
        </p>
      </div>

      <div class="col-lg-3 col-md-6 col-12 mx-auto">
        <h4 class="mb-3">Sarnia office</h4>

        <p>Lambton College - 1457 London Rd, Sarnia, ON N7S 6K4</p>

        <hr>

        <p class="d-flex align-items-center mb-1">
          <span class="me-2">Phone</span>

          <a href="tel: 435.333.1234" class="site-footer-link">
            435.333.1234
          </a>
        </p>

        <p class="d-flex align-items-center">
          <span class="me-2">Email</span>

          <a href="mailto:info@techforum.com" class="site-footer-link">
            info@techforum.com
          </a>
        </p>
      </div>

    </div>
  </div>
</section>

<%- include('../shared/footer'); %>