<%- include('../shared/header'); %>

<div class="">
  <!-- Discover Lear & Share Section -->
  <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
      <div class="row">

        <div class="col-lg-8 col-12 mx-auto">
          <h1 class="text-white text-center">Discover. Learn. Share</h1>

          <h6 class="text-center">platform for creatives around the world</h6>

          <div class="custom-form mt-4 pt-2 mb-lg-0 mb-5 d-flex justify-content-between">
            <button class="form-control w-49-pt">Login</button>
            <button class="form-control light-button w-49-pt">Sign Up</button>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Stay Updated & Share Insights Cards Section -->
  <section class="featured-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-12 mb-4 mb-lg-0">
          <div class="custom-block bg-white shadow-lg">
            <a href="topics-detail.html">
              <div class="d-flex">
                <div>
                  <h5 class="mb-2">Stay Updated</h5>

                  <p class="mb-0">Our dedicated team of experts curates and delivers insightful articles, tutorials,
                    and
                    updates to keep you ahead in the fast-paced tech industry.</p>
                </div>

                <span class="badge bg-design rounded-pill ms-auto">14</span>
              </div>

              <img src="./assets/images/stay-updated.jpg" class="custom-block-image img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="custom-block custom-block-overlay">
            <div class="d-flex flex-column h-100">
              <img src="./assets/images/share-insights.png" class="custom-block-image img-fluid" alt="">

              <div class="custom-block-overlay-text d-flex">
                <div>
                  <h5 class="text-white mb-2">Share your Insights</h5>

                  <p class="text-white">Start a discussion, ask questions, or contribute to existing posts. Engage
                    with
                    peers, learn from others, and showcase your expertise in various tech domains.</p>

                  <a href="/posts" class="btn custom-btn mt-2 mt-lg-3">Learn More</a>
                </div>

                <span class="badge bg-finance rounded-pill ms-auto">25</span>
              </div>

              <div class="social-share d-flex">
                <p class="text-white me-4">Share:</p>

                <ul class="social-icon">
                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-twitter"></a>
                  </li>

                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-facebook"></a>
                  </li>

                  <li class="social-icon-item">
                    <a href="#" class="social-icon-link bi-pinterest"></a>
                  </li>
                </ul>

                <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
              </div>

              <div class="section-overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Browse Topics Section -->
  <section class="explore-section section-padding" id="section_2">
    <div class="container">
      <div class="row">

        <div class="col-12 text-center">
          <h2 class="mb-4">Browse Topics</h1>
        </div>

      </div>
    </div>

    <!-- Menu -->
    <div class="container-fluid">
      <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="design-tab" data-bs-toggle="tab" data-bs-target="#design-tab-pane"
              type="button" role="tab" aria-controls="design-tab-pane" aria-selected="true">AI & ML</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="marketing-tab" data-bs-toggle="tab" data-bs-target="#marketing-tab-pane"
              type="button" role="tab" aria-controls="marketing-tab-pane" aria-selected="false">Software
              Development</button>
          </li>

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education-tab-pane"
              type="button" role="tab" aria-controls="education-tab-pane" aria-selected="false">Tech Industry
              Trends</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="design-tab-pane" role="tabpanel" aria-labelledby="design-tab"
              tabindex="0">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Machine Learning Algorithms</h5>

                          <p class="mb-0">Explore different algorithms and their applications.</p>
                        </div>

                        <span class="badge bg-design rounded-pill ms-auto">14</span>
                      </div>

                      <img src="./assets/images/ai-machine-learning-vector.jpg" class="custom-block-image img-fluid"
                        alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Deep Learning</h5>

                          <p class="mb-0">Discuss neural networks, CNNs, RNNs, and more.</p>
                        </div>

                        <span class="badge bg-design rounded-pill ms-auto">75</span>
                      </div>

                      <img src="./assets/images/deep-learning-vector.jpg" class="custom-block-image img-fluid" alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Natural Language Processing</h5>

                          <p class="mb-0">Share insights on text analysis, chatbots, and language models.</p>
                        </div>

                        <span class="badge bg-design rounded-pill ms-auto">100</span>
                      </div>

                      <img src="./assets/images/natural-language-processing-vector.jpg"
                        class="custom-block-image img-fluid" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="marketing-tab-pane" role="tabpanel" aria-labelledby="marketing-tab"
              tabindex="0">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Programming Languages</h5>

                          <p class="mb-0">Delve into discussions about languages like Python, JavaScript, Java, and
                            C++.</p>
                        </div>

                        <span class="badge bg-advertising rounded-pill ms-auto">30</span>
                      </div>

                      <img src="./assets/images/programming-languages-vector.jpg" class="custom-block-image img-fluid"
                        alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Frameworks & Libraries</h5>

                          <p class="mb-0">Learn about popular frameworks such as React, Angular, and Django.</p>
                        </div>

                        <span class="badge bg-advertising rounded-pill ms-auto">65</span>
                      </div>

                      <img src="./assets/images/frameworks-vector.jpg" class="custom-block-image img-fluid" alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Software Engineering Practices</h5>

                          <p class="mb-0">Discuss Agile, Scrum, DevOps, and CI/CD practices.</p>
                        </div>

                        <span class="badge bg-advertising rounded-pill ms-auto">50</span>
                      </div>

                      <img src="./assets/images/practices-vector.jpg" class="custom-block-image img-fluid" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="education-tab-pane" role="tabpanel" aria-labelledby="education-tab"
              tabindex="0">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-3">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Emerging Technologies</h5>

                          <p class="mb-0">Stay updated on trends like IoT, blockchain, and quantum computing.</p>
                        </div>

                        <span class="badge bg-education rounded-pill ms-auto">80</span>
                      </div>

                      <img src="./assets/images/emerging-tech-vector.jpg" class="custom-block-image img-fluid" alt="">
                    </a>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                  <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                      <div class="d-flex">
                        <div>
                          <h5 class="mb-2">Tech Startups</h5>

                          <p class="mb-0">Discuss new startups, innovations, and funding trends.</p>
                        </div>

                        <span class="badge bg-education rounded-pill ms-auto">75</span>
                      </div>

                      <img src="./assets/images/tech-startup-vector.jpg" class="custom-block-image img-fluid" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Get in touch section -->
  <section class="contact-section section-padding section-bg" id="section_5">
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12 text-center">
          <h2 class="mb-5">Get in touch</h2>
        </div>

        <div class="col-lg-5 col-12 mb-4 mb-lg-0">
          <iframe class="google-map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9104.379407133645!2d-79.34405354942787!3d43.77227747661401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d3bca1a3f78f%3A0x815365ed6c3b957e!2sLambton%20College%20In%20Toronto!5e1!3m2!1sen!2sca!4v1721337463322!5m2!1sen!2sca"
            width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-lg-3 col-md-6 col-12 mb-3 mb-lg- mb-md-0 ms-auto">
          <h4 class="mb-3">Head office</h4>

          <p>Lambton College in Toronto - 265 Yorkland Blvd, North York, ON M2J 1S5</p>

          <hr>

          <p class="d-flex align-items-center mb-1">
            <span class="me-2">Phone</span>

            <a href="tel:435.333.1234" class="site-footer-link">
              435.333.1234
            </a>
          </p>

          <p class="d-flex align-items-center">
            <span class="me-2">Email</span>

            <a href="mailto:info@techforum.com" class="site-footer-link">
              info@techforum.com
            </a>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 col-12 mx-auto">
          <h4 class="mb-3">Sarnia office</h4>

          <p>Lambton College - 1457 London Rd, Sarnia, ON N7S 6K4</p>

          <hr>

          <p class="d-flex align-items-center mb-1">
            <span class="me-2">Phone</span>

            <a href="tel: 435.333.1234" class="site-footer-link">
              435.333.1234
            </a>
          </p>

          <p class="d-flex align-items-center">
            <span class="me-2">Email</span>

            <a href="mailto:info@techforum.com" class="site-footer-link">
              info@techforum.com
            </a>
          </p>
        </div>

      </div>
    </div>
  </section>
</div>

<%- include('../shared/footer'); %>
  
